:host {
	/* Note: by default elements are always display:inline. */
	display: block;
	position: relative;
}

core-pages {
    height:300px;
}

#buttonPanel{
	float:right;
}

polyfill-next-selector { content: '*'; }
::content * {

}
